<div [formGroup]="reservaForm">
  <div class="input-group">
    <ion-item>
      <ion-label><ion-icon name="person-sharp"></ion-icon></ion-label>
      <ion-input placeholder="fecha" type="date" formControlName="fecha"></ion-input>
    </ion-item>
    <div *ngIf="reservaForm.controls['fecha'].errors">
      <ion-text color="danger" *ngIf="reservaForm.controls['fecha'].errors['required']">
        <small>*</small>
      </ion-text>
    </div>
    <ion-item>
      <ion-label><ion-icon name="add-outline"></ion-icon></ion-label>
      <ion-input placeholder="cupo" type="number" formControlName="cupo"></ion-input>
    </ion-item>
    <div *ngIf="reservaForm.controls['cupo'].errors">
      <ion-text color="danger" *ngIf="reservaForm.controls['cupo'].errors['required']">
        <small>*</small>
      </ion-text>
    </div>
  </div>
  <ion-item>
    <ion-label><ion-icon name="person-sharp"></ion-icon></ion-label>
    <ion-input placeholder="nombres" type="text" formControlName="nombres"></ion-input>
  </ion-item>
  <div *ngIf="reservaForm.controls['nombres'].errors">
    <ion-text color="danger" *ngIf="reservaForm.controls['nombres'].errors['required']">
      <small>*</small>
    </ion-text>
  </div>
  <ion-item>
    <ion-label><ion-icon name="person-sharp"></ion-icon></ion-label>
    <ion-input placeholder="apellidos" type="text" formControlName="apellidos"></ion-input>
  </ion-item>
  <div *ngIf="reservaForm.controls['apellidos'].errors">
    <ion-text color="danger" *ngIf="reservaForm.controls['apellidos'].errors['required']">
      <small>*</small>
    </ion-text>
  </div>
  <ion-item>
    <ion-label><ion-icon name="id-card-sharp"></ion-icon></ion-label>
    <ion-input placeholder="idendificacion" type="text" formControlName="identificacion"></ion-input>
  </ion-item>
  <div *ngIf="reservaForm.controls['identificacion'].errors">
    <ion-text color="danger" *ngIf="reservaForm.controls['identificacion'].errors['required']">
      <small>*</small>
    </ion-text>
  </div>
  <ion-item>
    <ion-label><ion-icon name="phone-portrait-sharp"></ion-icon></ion-label>
    <ion-input placeholder="322 888 9544" type="text" formControlName="telefono"></ion-input>
  </ion-item>
  <div *ngIf="reservaForm.controls['telefono'].errors">
    <ion-text color="danger" *ngIf="reservaForm.controls['telefono'].errors['required']">
      <small>*</small>
    </ion-text>
  </div>
  <ion-item>
    <ion-label><ion-icon name="mail-sharp"></ion-icon></ion-label>
    <ion-input placeholder="correo" type="text" formControlName="correo"></ion-input>
  </ion-item>
  <div *ngIf="reservaForm.controls['correo'].errors">
    <ion-text color="danger" *ngIf="reservaForm.controls['correo'].errors['required']">
      <small>*</small>
    </ion-text>
  </div>
  <section>
    <ion-button expand="block" (click)="save()" [disabled]="reservaForm.invalid">Guardar</ion-button>
  </section>
</div>

